<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>BHS</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a style="margin-left:5px" href="#" class="brand-logo">BHS</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Products</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="slide-out">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Products</a></li>
  </ul>

  <!-- Blank section class -->
  <section>
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
      <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
      <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
      <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
    </div>
  </section>




  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="static/js/init.js"></script>
  </body>
</html>
